.profileScreen {
    height: 100vh;
    color: white;
    background-color: #000;
}
.profileScreen__body{
    display: flex;
    flex-direction: column;
      width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 8%; 
}
.profileScreen__info {
  display: flex;
}
.profileScreen__body > h1 {
    font-size: 60px;
    font-weight: 400;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px;
}
.profileScreen__info-img{
    height: 100px;
    
}
.profileScreen__details > h2 {
    color: #fff;
    background-color: gray;
   margin-left: 25px;
   flex: 1;
}
.profileScreen__button {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    font-weight: 600;
    border: none;
    cursor: pointer;
    width: 100%;
    color: #fff;
    background-color: #e50914;
    margin-left: 25px;
}  
