.signupScreen {
    max-width: 300px;
    padding: 70px;
    margin-right: auto;
    margin-left: auto;
    background:rgba(0, 0, 0, 0.85);

}
.signupScreen > form {
    display:grid;
    flex-direction: column;

}
.signupScreen > form > input {
    padding: 5px 15px;
    outline-width: 0;
    height: 40px;
    margin-bottom: 14px;
    border-radius: 5px;
}
.signupScreen > form > button {
    padding: 16px 20px;
    font-size: 1rem;
    color: #fff;
    border-radius: 5px;
    background-color: #e50914;
    cursor: pointer;
    font-weight: 600;
    border: none;
    margin-top: 20px;
}
.signupScreen > form > h1 {
    text-align: left;
    margin-bottom: 25px;
}
.signupScreen__gray {
    color: gray;
}
.signup__link {
    cursor: pointer;
    text-decoration: underline;
    

}
